@import "mixins" ;
// mobile 
@media screen and (min-width: 350px) and (max-width: 690px) {
    .add-product {
        width: 90%;
        position: relative;
        left: 2.5%;
        right: 2.5%;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 10px 5px rgb(177, 174, 174);
        margin-left: 1em;
        background-color: white;
        h4 {
            font-size: .9em;
            @include position-div(center);
        }
        .logo-shop {
            @include position-div(center);
            img {
                margin-top: 0em;
                width: 130px;
                height: 50px;
            }
        }
        .head-form {
            @include position-div(right);
            margin: .2em 1em;
            .close-icon-form{
                width: 25px;
                height: 25px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .div {
            margin: .5em 0;
            margin-left: 1.5em;
        }
        .radio-content {
            display: flex;
            justify-content: space-evenly;
            margin-left: 0;
            span {
                font-size: .8em;
            }
        }
        input[type="number"] {
            @include form-control(1em,37%) ;
        }
        input[type="text"] {
            @include form-control(1em,81.5%) ;
        }
        select {
            @include form-control(2.3em,43.5%) ;
        }
        textarea {
            @include form-control(3em,81.5%) ;
            height: 70px;
            resize: none;
        }
        .file-upload {
            @include custom-file(84%,1.5em);
        }
        .btns {
            @include buttons(5em) ;
            margin: 2em 0;
        }
    }
    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
        &:active{
            border: 0;
            transition: all .2s ease;
        }
    }
    .image-dropping,
    .image-upload-wrap:hover {
    background-color: $primary-color;
    border: 3px dashed #ffffff;
    }
}

// medium desktop 
@media screen and (min-width: 691px) and (max-width: 950px) {
    .add-product {
        position: absolute;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 10px 5px rgb(177, 174, 174);
        margin: .5em;
        background-color: white;
        top: 60px;
        left: 10%;
        right: 10%;
        h4 {
            font-size: .9em;
            text-align: center;
        }
        .logo-shop {
            @include position-div(center);
            img {
                margin-top: 0em;
                width: 130px;
                height: 50px;
            }
        }
        .head-form {
            @include position-div(right);
            margin: .2em 1em;
            .close-icon-form{
                width: 25px;
                height: 25px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .div {
            margin: .5em 0;
            margin-left: 1.5em;
        }
        .radio-content {
            display: flex;
            justify-content: space-evenly;
            margin-left: 0;
            span {
                font-size: .8em;
            }
        }
        input[type="number"] {
            @include form-control(1em,42.2%) ;
        }
        input[type="text"] {
            @include form-control(1em,90%) ;
        }
        select {
            @include form-control(2.3em,46.8%) ;
        }
        textarea {
            @include form-control(3em,90%) ;
            height: 70px;
            resize: none;
        }
        .file-upload {
            @include custom-file(90%,1.6em);
        }
        .btns {
            @include buttons(5em) ;
            margin: 2em 0;
        }
    }
    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
        &:active{
            border: 0;
            transition: all .2s ease;
        }
    }
    .image-dropping,
    .image-upload-wrap:hover {
    background-color: $primary-color;
    border: 3px dashed #ffffff;
    }
}

// large desktop 
@media screen and (min-width: 951px) and (max-width: 1920px) {
    .add-product {
        position: absolute;
        width: 50%;
        display: flex;
        flex-direction: column;
        box-shadow: 2px 2px 10px 5px rgb(177, 174, 174);
        margin: .5em;
        background-color: white;
        top: 55px;
        left: 25%;
        right: 25%;
        h4 {
            font-size: .9em;
            text-align: center;
        }
        .logo-shop {
            @include position-div(center);
            img {
                margin-top: 0em;
                width: 130px;
                height: 50px;
            }
        }
        .head-form {
            @include position-div(right);
            margin: .2em 1em;
            .close-icon-form{
                width: 25px;
                height: 25px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .div {
            margin: .5em 0;
            margin-left: 1.5em;
        }
        .radio-content {
            display: flex;
            justify-content: space-evenly;
            margin-left: 0;
            span {
                font-size: .8em;
            }
        }
        input[type="number"] {
            @include form-control(1em,42.75%) ;
        }
        input[type="text"] {
            @include form-control(1em,90%) ;
        }
        select {
            @include form-control(2.3em,47%) ;
        }
        textarea {
            @include form-control(3em,90%) ;
            height: 70px;
            resize: none;
        }
        .file-upload {
            @include custom-file(90%,1.6em);
        }
        .btns {
            @include buttons(5em) ;
            margin: 2em 0;
        }
    }
    .remove-image {
        width: 200px;
        margin: 0;
        color: #fff;
        background: #cd4535;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #b02818;
        transition: all .2s ease;
        outline: none;
        text-transform: uppercase;
        font-weight: 700;
        &:hover{
            background: #c13b2a;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
        &:active{
            border: 0;
            transition: all .2s ease;
        }
    }
    .image-dropping,
    .image-upload-wrap:hover {
    background-color: $primary-color;
    border: 3px dashed #ffffff;
    }
}