@mixin position-div($type) {
    display: block;
    text-align: $type;
}
@mixin buttons ($val){
    display: flex;
    justify-content: center;
    margin: .3em 1em;
    button {
        border-radius: 5px;
        color: white;
        border: none;
        padding: .5em .8em;
        margin: 0 $val;
        &:hover {
            cursor: pointer;
        }
    }
}

@mixin content-item($type_1,$type_2,$type_3,$I_width,$I_height,$item_wd,$cta_) {
    .item {
        display: flex;
        flex-direction: $type_1;
        box-shadow: 2px 4px 7px gray;
        border-radius: 10px;
        width: $item_wd;
        margin: .7em;
        .top-side {
            display: flex;
            justify-content: space-between;
            flex-direction: $type_2;
            margin-top: 0;
            img {
                flex: 1;
                border-radius: 10px;
                width: $I_width;
                height: $I_height;
            }
            div {
                flex: 1;
                margin: .5em;
                display: flex;
                justify-content: space-between;
                flex-direction: $type_3;
                button {
                    background: none;
                    border: none;
                    font-weight: bold;
                    font-size: .9em;
                    h4 {
                        margin: 0;
                        white-space: nowrap;
                        &:hover {
                            color: $secondary-color;
                            cursor: pointer;
                        }
                    }
                }
                p {
                    margin: 0;
                    white-space: nowrap;
                    font-size: .83em;
                    color: gray;
                    overflow-wrap: break-word;
                }
                span {
                    color: $primary-color;
                    font-weight: bold;
                }
                .stock-status {
                    color: white;
                    font-size: .8em;
                    padding: .2em .5em;
                    border-radius: 4px;
                    width: $cta_;
                    text-align: center;
                }
            }
        }
        .center-side {
            margin: 0 .4em;
            p{
                font-size: .8em;
                text-align: justify;
                overflow-wrap: break-word;
            }
        }
        .bottom-side {
            @include buttons(1em);
        }
    }
}

@mixin form-search($type_display) {
    form {
        width: 100%;
        display: $type_display;
        border: 1.5px solid #E5E5E5;
        border-radius: 20px;
        padding: .3em .1em;
        background-color: #E5E5E5;
        justify-content: space-between;
        input {
            border: none;
            background-color: #E5E5E5;
        }
    }
}

@mixin box-top($marg1,$marg2,$size_font) {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:2px 2px 4px 6px rgb(216, 216, 216);
    margin: $marg1 $marg2;
    h4 {
        font-size: $size_font;
        display: inline;
        margin: .3em 0;
    }
    .line-title {
        border-bottom: 2px solid $secondary-color;
        width: 94%;
        align-items: center;
        margin: .3em 0;
    }
    img {
        width: 94%;
        height: 50%;
        align-items: center;
        margin: .5em 0;
    }
}

@mixin box-bottom($marg1,$marg2,$type) {
    display: flex;
    flex-direction: $type;
    align-items: flex-start;
    margin: $marg1 $marg2;
    div {
        width: 100%;
        box-shadow:2px 2px 4px 6px rgb(216, 216, 216);
    }
}

@mixin product_info($size_h,$val) {
    padding: 0;
    white-space: nowrap;
    h5 {
        margin: 1em;
        font-size: $size_h;
    }        
    table {
        margin: .5em 1em;
        display: flex;
        justify-content: center;
        th{
            text-align: left;
            font-size: .8em ;
            padding: .7em 2em;
            padding-right: $val;
        }
        td{
            text-align: right;
            padding: .7em 2em;
        }
        button {
            font-weight: bold;
            color: white;
            border: none;
            padding: .6em 1.2em;
            border-radius: 5px;
        }
    }
    #status-stock {
        color: white;
        font-size: .8em;
        padding: 0 .2em;
        width: 35px;
        border-radius: 5px;
    }
}

@mixin product_desc($size_h) {
    padding: 0;
    h5 {
        margin: 1em;
        font-size: $size_h;
    }
    p {
        margin: 1em 1.2em;
        text-align: justify;
        font-size: $size_h - .3;
    }
}

@mixin form-control($val,$width) {
    width: $width;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@mixin custom-file($width,$marg) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: $marg;
    width: $width;
    font-family: 'Poppins';
    .file-upload-btn {
        margin: .5em .5em;
        width: 100%;
        color: #fff;
        background: #fd822f;
        border: none;
        padding: 10px;
        border-radius: 4px;
        border-bottom: 4px solid #FF6600;
        transition: all .2s ease;
        outline: none;
        font-weight: 700;
        &:hover{
            background: #FF6600;
            color: #ffffff;
            transition: all .2s ease;
            cursor: pointer;
        }
        &:active{
            border: 0;
            transition: all .2s ease;
        }
    }
    .image-upload-wrap {
        width: 98%;
        border: 3px dashed #FF6600;
        position: relative;
        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }
        .drag-text {
            text-align: center;
            h3 {
                font-weight: 250;
                color: $secondary-color;
                padding: 0 0;
            }
        }  
    }
    .file-upload-content {
        display: none;
        text-align: center;
        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }
        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }
    }
}

@mixin style-msg($val,$size,$width,$color,$back) {
    width: $width;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: $val;
    left: 100%;
    font-size: $size;
    color: $color;
    border: 1.4px solid $color;
    background-color: $back;
    .iconify {
        width: 20px;
        height: 20px;
    }
    p {
        white-space: nowrap;
        span {
            font-weight: bold;
        }
    }
}

@mixin confirm-msg($top,$left,$width) {
        position: sticky;
        top: $top;
        left: $left;
        background-color: white;
        border: 1.3px solid white;
        box-shadow: 1px 1px 6px 2px #bebebe;
        padding: 1em 0;
        width: $width;
        .container {
            display: flex;
            flex-direction: column;
            margin: 0 1em;
            p {
                font-size: .9em;
                text-align: left;
                padding-bottom: 1em;
                border-bottom: 1px solid #bebebe;
                span {
                    color: #fd822f;
                    font-size: .65em;
                }
            }
            form {
                text-align: right;
                @include buttons(.3em);
                justify-content: flex-end;
                .cancel-cta {
                    background-color: $secondary-color;
                }
                .ok-cta {
                    background-color: $primary-color;
                }
            }
        }
}