$primary-color: #FF6600 ;
$secondary-color: #1D2A38 ;
$heading_desktop: 1.3em ;
$heading_mobile: .9em ;
$title_size_desktop: 1.7em;
$title_size_mobile: 1.1em;
$inStock-color: #07BE6E;
$outStock-color: #f9423c;

