@media screen and (min-width: 350px) and (max-width: 690px) {
  body {
    margin: 0;
    font-family: 'Poppins';
  }
  header .container {
    -webkit-box-shadow: 1px 6px 6px #E5E5E5;
            box-shadow: 1px 6px 6px #E5E5E5;
  }
  header .container .header-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 6px 15px;
  }
  header .container .header-contain .left-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .header-contain .left-side .open-icon {
    width: 30px;
    height: 30px;
  }
  header .container .header-contain .left-side .open-icon:hover {
    cursor: pointer;
  }
  header .container .header-contain .left-side .logo {
    width: 100px;
    height: 35px;
  }
  header .container .header-contain .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: .2em 0;
  }
  header .container .header-contain .right-side .iconify {
    width: 20px;
    height: 20px;
    margin: 0 .5em;
    display: none;
  }
  header .container .header-contain .right-side .pr-admin {
    width: 35px;
    height: 35px;
    border-radius: 30px;
  }
  header .container .header-contain .right-side .input-search {
    display: none;
  }
  header .close-nav {
    display: none;
  }
  header .close-cta {
    display: none;
  }
  header .navbar {
    width: 65%;
    -webkit-box-shadow: 1px 6px 6px #E5E5E5;
            box-shadow: 1px 6px 6px #E5E5E5;
    height: 100%;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
    background-color: white;
  }
  header .navbar nav ul {
    padding-left: 1.5em;
    list-style: none;
    margin-top: 0em;
  }
  header .navbar nav ul li {
    margin: 2em 0;
  }
  header .navbar nav ul a {
    text-decoration: none;
    color: #1D2A38;
  }
  header .navbar nav ul a p {
    display: inline;
    margin-left: 1em;
    font-size: 1em;
  }
  header .navbar nav ul a .iconify {
    width: 25px;
    height: 25px;
    color: #1D2A38;
  }
  header .navbar nav ul a:hover {
    color: #FF6600;
  }
  header .navbar nav ul a:hover .iconify {
    color: #FF6600;
  }
  header .search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 1em 1em;
  }
  header .search-form form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1.5px solid #E5E5E5;
    border-radius: 20px;
    padding: .3em .1em;
    background-color: #E5E5E5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .search-form form input {
    border: none;
    background-color: #E5E5E5;
  }
}

@media screen and (min-width: 691px) and (max-width: 950px) {
  body {
    margin: 0;
    font-family: 'Poppins';
  }
  header .container {
    -webkit-box-shadow: 1px 6px 6px #E5E5E5;
            box-shadow: 1px 6px 6px #E5E5E5;
    padding: .2em 0;
    position: fixed;
    background: white;
    width: 100%;
  }
  header .container .header-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 6px 40px;
  }
  header .container .header-contain .left-side {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .header-contain .left-side .open-icon {
    display: none;
    width: 30px;
    height: 30px;
  }
  header .container .header-contain .left-side .open-icon:hover {
    cursor: pointer;
  }
  header .container .header-contain .left-side .logo {
    width: 100px;
    height: 35px;
  }
  header .container .header-contain .right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: .2em 0;
  }
  header .container .header-contain .right-side form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1.5px solid #E5E5E5;
    border-radius: 20px;
    padding: .3em .1em;
    background-color: #E5E5E5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .header-contain .right-side form input {
    border: none;
    background-color: #E5E5E5;
  }
  header .container .header-contain .right-side .iconify {
    width: 20px;
    height: 20px;
    margin: 0 .5em;
    display: inline;
  }
  header .container .header-contain .right-side .pr-admin {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-left: 1em;
  }
  header .container .header-contain .right-side .input-search {
    display: inline;
  }
  header .container .header-contain .close-nav {
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
  }
  header .container .header-contain .close-nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0em;
    list-style: none;
    margin: .5em 0;
    margin-left: 0em;
  }
  header .container .header-contain .close-nav nav ul li {
    margin: 0em 1em;
  }
  header .container .header-contain .close-nav nav ul .dash_link {
    display: none;
  }
  header .container .header-contain .close-nav nav ul a {
    text-decoration: none;
    color: #1D2A38;
  }
  header .container .header-contain .close-nav nav ul a p {
    display: inline;
    margin-left: 0em;
    font-size: .8em;
    font-weight: bold;
    white-space: nowrap;
  }
  header .container .header-contain .close-nav nav ul a .iconify {
    display: none;
    width: 25px;
    height: 25px;
    color: #FF6600;
  }
  header .container .header-contain .close-nav nav ul a:hover {
    color: #FF6600;
  }
  header .container .header-contain .close-nav nav ul a:hover .iconify {
    color: #FF6600;
  }
  header .close-cta {
    display: none;
  }
  header .close-navbar {
    display: none;
  }
  header .search-form {
    display: none;
  }
}

@media screen and (min-width: 951px) and (max-width: 1920px) {
  body {
    margin: 0;
    font-family: 'Poppins';
  }
  header .container {
    -webkit-box-shadow: 1px 6px 6px #E5E5E5;
            box-shadow: 1px 6px 6px #E5E5E5;
    padding: .2em 0;
    position: fixed;
    background: white;
    width: 100%;
  }
  header .container .header-contain {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 6px 50px;
  }
  header .container .header-contain .left-side {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .container .header-contain .left-side .open-icon {
    display: none;
    width: 30px;
    height: 30px;
  }
  header .container .header-contain .left-side .open-icon:hover {
    cursor: pointer;
  }
  header .container .header-contain .left-side .logo {
    width: 100px;
    height: 35px;
  }
  header .container .header-contain .right-side {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: .2em 0;
  }
  header .container .header-contain .right-side form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1.5px solid #E5E5E5;
    border-radius: 20px;
    padding: .3em .1em;
    background-color: #E5E5E5;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .container .header-contain .right-side form input {
    border: none;
    background-color: #E5E5E5;
  }
  header .container .header-contain .right-side .iconify {
    width: 20px;
    height: 20px;
    margin: 0 .5em;
    display: inline;
  }
  header .container .header-contain .right-side .pr-admin {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    margin-left: 1em;
  }
  header .container .header-contain .right-side .input-search {
    display: inline;
  }
  header .container .header-contain .close-nav {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  header .container .header-contain .close-nav nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0em;
    list-style: none;
    margin: .5em 0;
    margin-left: 4em;
  }
  header .container .header-contain .close-nav nav ul li {
    margin: 0em 1.2em;
  }
  header .container .header-contain .close-nav nav ul .dash_link {
    display: none;
  }
  header .container .header-contain .close-nav nav ul a {
    color: #1D2A38;
    text-decoration: none;
  }
  header .container .header-contain .close-nav nav ul a p {
    display: inline;
    margin-left: .7em;
    font-size: .8em;
    font-weight: bold;
    white-space: nowrap;
  }
  header .container .header-contain .close-nav nav ul a .iconify {
    display: none;
    width: 25px;
    height: 25px;
    color: #1D2A38;
  }
  header .container .header-contain .close-nav nav ul a:hover {
    color: #FF6600;
  }
  header .container .header-contain .close-nav nav ul a:hover .iconify {
    color: #FF6600;
  }
  header .close-cta {
    display: none;
  }
  header .close-navbar {
    display: none;
  }
  header .search-form {
    display: none;
  }
}

@media screen and (min-width: 350px) and (max-width: 690px) {
  section.sec-direction {
    margin: 0;
  }
  section.sec-direction .container {
    margin: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  section.sec-direction .container .path-direction {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    margin: 0;
  }
  section.sec-direction .container .path-direction .iconify {
    width: 20px;
    height: 20px;
  }
  section.sec-direction .container .path-direction ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  section.sec-direction .container .path-direction ul li {
    margin-left: .8em;
  }
  section.sec-direction .container .path-direction ul a {
    font-size: .7em;
    text-decoration: none;
    color: #1D2A38;
  }
  section.sec-direction .container .path-direction ul a:link {
    color: #FF6600;
  }
  section.sec-direction .container .path-direction ul a:hover {
    cursor: pointer;
  }
  section.sec-direction .container .add-product-cta {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: .5em 0em;
  }
  section.sec-direction .container .add-product-cta button {
    width: 100%;
    background-color: #FF6600;
    border: 2px solid #FF6600;
    border-radius: 4px;
  }
  section.sec-direction .container .add-product-cta button:hover {
    cursor: pointer;
  }
  section.sec-direction .container .add-product-cta .iconify {
    width: 20px;
    height: 20px;
    color: white;
  }
  section.sec-direction .container .add-product-cta p {
    display: inline;
    text-align: center;
    font-size: .9em;
    white-space: nowrap;
    color: white;
    font-weight: bold;
  }
}

@media screen and (min-width: 691px) and (max-width: 950px) {
  section.sec-direction {
    margin: 0;
    position: relative;
    top: 80px;
  }
  section.sec-direction .container {
    margin: 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  section.sec-direction .container .path-direction {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin: 0;
  }
  section.sec-direction .container .path-direction .iconify {
    width: 20px;
    height: 20px;
  }
  section.sec-direction .container .path-direction ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  section.sec-direction .container .path-direction ul li {
    margin-left: 1em;
  }
  section.sec-direction .container .path-direction ul a {
    font-size: .8em;
    text-decoration: none;
    color: #1D2A38;
  }
  section.sec-direction .container .path-direction ul a:link {
    color: #FF6600;
  }
  section.sec-direction .container .path-direction ul a:hover {
    cursor: pointer;
  }
  section.sec-direction .container .add-product-cta {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    padding: .5em .9em;
  }
  section.sec-direction .container .add-product-cta button {
    width: 130px;
    background-color: #FF6600;
    border: 4px solid #FF6600;
    border-radius: 4px;
  }
  section.sec-direction .container .add-product-cta button:hover {
    cursor: pointer;
  }
  section.sec-direction .container .add-product-cta .iconify {
    width: 20px;
    height: 20px;
    color: white;
  }
  section.sec-direction .container .add-product-cta p {
    display: inline;
    text-align: center;
    font-size: .9em;
    white-space: nowrap;
    color: white;
    font-weight: bold;
  }
}

@media screen and (min-width: 951px) and (max-width: 1920px) {
  section.sec-direction {
    margin: 0;
    position: relative;
    top: 90px;
  }
  section.sec-direction .container {
    margin: 0 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  section.sec-direction .container .path-direction {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    margin: 0;
  }
  section.sec-direction .container .path-direction .iconify {
    width: 20px;
    height: 20px;
  }
  section.sec-direction .container .path-direction ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  section.sec-direction .container .path-direction ul li {
    margin-left: .8em;
  }
  section.sec-direction .container .path-direction ul a {
    font-size: .9em;
    text-decoration: none;
    color: #1D2A38;
  }
  section.sec-direction .container .path-direction ul a:link {
    color: #FF6600;
  }
  section.sec-direction .container .path-direction ul a:hover {
    cursor: pointer;
  }
  section.sec-direction .container .add-product-cta {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    padding: .5em .9em;
  }
  section.sec-direction .container .add-product-cta button {
    width: 150px;
    background-color: #FF6600;
    border: 4px solid #FF6600;
    border-radius: 4px;
  }
  section.sec-direction .container .add-product-cta button:hover {
    cursor: pointer;
  }
  section.sec-direction .container .add-product-cta .iconify {
    width: 20px;
    height: 20px;
    color: white;
  }
  section.sec-direction .container .add-product-cta p {
    display: inline;
    text-align: center;
    font-size: .9em;
    white-space: nowrap;
    color: white;
    font-weight: bold;
  }
}

@media screen and (min-width: 350px) and (max-width: 690px) {
  .add-category {
    width: 90%;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 2px 2px 10px 5px #b1aeae;
            box-shadow: 2px 2px 10px 5px #b1aeae;
    margin-left: 1em;
    background-color: white;
    top: 100px;
    left: 2%;
    right: 2%;
  }
  .add-category h4 {
    font-size: .9em;
    display: block;
    text-align: center;
  }
  .add-category .logo-shop {
    display: block;
    text-align: center;
  }
  .add-category .logo-shop img {
    margin-top: 0em;
    width: 130px;
    height: 50px;
  }
  .add-category .head-form {
    display: block;
    text-align: right;
    margin: .2em 1em;
  }
  .add-category .head-form .close-icon-form {
    width: 25px;
    height: 25px;
  }
  .add-category .head-form .close-icon-form:hover {
    cursor: pointer;
  }
  .add-category .div {
    margin: .5em 0;
    margin-left: 1.5em;
  }
  .add-category input[type="number"] {
    width: 37%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category input[type="text"] {
    width: 81.5%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category select {
    width: 43.5%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category textarea {
    width: 81.5%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    height: 70px;
  }
  .add-category .file-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.5em;
    width: 84%;
    font-family: 'Poppins';
  }
  .add-category .file-upload .file-upload-btn {
    margin: .5em .5em;
    width: 100%;
    color: #fff;
    background: #fd822f;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #FF6600;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
  }
  .add-category .file-upload .file-upload-btn:hover {
    background: #FF6600;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }
  .add-category .file-upload .file-upload-btn:active {
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .add-category .file-upload .image-upload-wrap {
    width: 98%;
    border: 3px dashed #FF6600;
    position: relative;
  }
  .add-category .file-upload .image-upload-wrap .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .add-category .file-upload .image-upload-wrap .drag-text {
    text-align: center;
  }
  .add-category .file-upload .image-upload-wrap .drag-text h3 {
    font-weight: 250;
    color: #1D2A38;
    padding: 0 0;
  }
  .add-category .file-upload .file-upload-content {
    display: none;
    text-align: center;
  }
  .add-category .file-upload .file-upload-content .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  .add-category .file-upload .file-upload-content .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  .add-category .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: .3em 1em;
    margin: 2em 0;
  }
  .add-category .btns button {
    border-radius: 5px;
    color: white;
    border: none;
    padding: .5em .8em;
    margin: 0 5em;
  }
  .add-category .btns button:hover {
    cursor: pointer;
  }
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }
  .remove-image:active {
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #FF6600;
    border: 3px dashed #ffffff;
  }
}

@media screen and (min-width: 691px) and (max-width: 950px) {
  .add-category {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 2px 2px 10px 5px #b1aeae;
            box-shadow: 2px 2px 10px 5px #b1aeae;
    margin: .5em;
    background-color: white;
    top: 60px;
    left: 10%;
    right: 10%;
  }
  .add-category h4 {
    font-size: .9em;
    text-align: center;
  }
  .add-category .logo-shop {
    display: block;
    text-align: center;
  }
  .add-category .logo-shop img {
    margin-top: 0em;
    width: 130px;
    height: 50px;
  }
  .add-category .head-form {
    display: block;
    text-align: right;
    margin: .2em 1em;
  }
  .add-category .head-form .close-icon-form {
    width: 25px;
    height: 25px;
  }
  .add-category .head-form .close-icon-form:hover {
    cursor: pointer;
  }
  .add-category .div {
    margin: .5em 0;
    margin-left: 1.5em;
  }
  .add-category input[type="number"] {
    width: 42.2%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category input[type="text"] {
    width: 90%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category select {
    width: 46.8%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category textarea {
    width: 90%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    height: 70px;
  }
  .add-category .file-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.6em;
    width: 90%;
    font-family: 'Poppins';
  }
  .add-category .file-upload .file-upload-btn {
    margin: .5em .5em;
    width: 100%;
    color: #fff;
    background: #fd822f;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #FF6600;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
  }
  .add-category .file-upload .file-upload-btn:hover {
    background: #FF6600;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }
  .add-category .file-upload .file-upload-btn:active {
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .add-category .file-upload .image-upload-wrap {
    width: 98%;
    border: 3px dashed #FF6600;
    position: relative;
  }
  .add-category .file-upload .image-upload-wrap .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .add-category .file-upload .image-upload-wrap .drag-text {
    text-align: center;
  }
  .add-category .file-upload .image-upload-wrap .drag-text h3 {
    font-weight: 250;
    color: #1D2A38;
    padding: 0 0;
  }
  .add-category .file-upload .file-upload-content {
    display: none;
    text-align: center;
  }
  .add-category .file-upload .file-upload-content .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  .add-category .file-upload .file-upload-content .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  .add-category .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: .3em 1em;
    margin: 2em 0;
  }
  .add-category .btns button {
    border-radius: 5px;
    color: white;
    border: none;
    padding: .5em .8em;
    margin: 0 5em;
  }
  .add-category .btns button:hover {
    cursor: pointer;
  }
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }
  .remove-image:active {
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #FF6600;
    border: 3px dashed #ffffff;
  }
}

@media screen and (min-width: 951px) and (max-width: 1920px) {
  .add-category {
    position: absolute;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 2px 2px 10px 5px #b1aeae;
            box-shadow: 2px 2px 10px 5px #b1aeae;
    margin: .5em;
    background-color: white;
    top: 60px;
    left: 25%;
    right: 25%;
  }
  .add-category h4 {
    font-size: .9em;
    text-align: center;
  }
  .add-category .logo-shop {
    display: block;
    text-align: center;
  }
  .add-category .logo-shop img {
    margin-top: 0em;
    width: 130px;
    height: 50px;
  }
  .add-category .head-form {
    display: block;
    text-align: right;
    margin: .2em 1em;
  }
  .add-category .head-form .close-icon-form {
    width: 25px;
    height: 25px;
  }
  .add-category .head-form .close-icon-form:hover {
    cursor: pointer;
  }
  .add-category .div {
    margin: .5em 0;
    margin-left: 1.5em;
  }
  .add-category input[type="number"] {
    width: 42.75%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category input[type="text"] {
    width: 90%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category select {
    width: 47%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  }
  .add-category textarea {
    width: 90%;
    font-family: unset;
    height: calc($val + 0.50rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: .8em;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    height: 70px;
  }
  .add-category .file-upload {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1.6em;
    width: 90%;
    font-family: 'Poppins';
  }
  .add-category .file-upload .file-upload-btn {
    margin: .5em .5em;
    width: 100%;
    color: #fff;
    background: #fd822f;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #FF6600;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
    font-weight: 700;
  }
  .add-category .file-upload .file-upload-btn:hover {
    background: #FF6600;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }
  .add-category .file-upload .file-upload-btn:active {
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .add-category .file-upload .image-upload-wrap {
    width: 98%;
    border: 3px dashed #FF6600;
    position: relative;
  }
  .add-category .file-upload .image-upload-wrap .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  .add-category .file-upload .image-upload-wrap .drag-text {
    text-align: center;
  }
  .add-category .file-upload .image-upload-wrap .drag-text h3 {
    font-weight: 250;
    color: #1D2A38;
    padding: 0 0;
  }
  .add-category .file-upload .file-upload-content {
    display: none;
    text-align: center;
  }
  .add-category .file-upload .file-upload-content .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  .add-category .file-upload .file-upload-content .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  .add-category .btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: .3em 1em;
    margin: 2em 0;
  }
  .add-category .btns button {
    border-radius: 5px;
    color: white;
    border: none;
    padding: .5em .8em;
    margin: 0 5em;
  }
  .add-category .btns button:hover {
    cursor: pointer;
  }
  .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
  }
  .remove-image:active {
    border: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #FF6600;
    border: 3px dashed #ffffff;
  }
}

@media screen and (min-width: 350px) and (max-width: 690px) {
  section.all-items-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
  }
  section.all-items-categories .item-category {
    margin: 1em auto;
    width: 340px;
    height: 380px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 1px 6px 6px #c5c2c2;
            box-shadow: 1px 6px 6px #c5c2c2;
  }
  section.all-items-categories .item-category img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
  section.all-items-categories .item-category .paragraph_1 {
    display: block;
    text-align: center;
    gap: 230px;
  }
  section.all-items-categories .item-category .paragraph_1 h3 {
    color: #1D2A38;
    font-family: "Poppins";
    font-weight: bold;
  }
  section.all-items-categories .item-category .paragraph_1 .prix {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #FF6600;
    color: white;
    border-style: none;
  }
  section.all-items-categories .item-category .paragraph_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.all-items-categories .item-category .paragraph_2 div {
    margin: 0 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2px;
    font-weight: bold;
  }
  section.all-items-categories .item-category .paragraph_2 p {
    color: #A2B6DB;
    font-family: "Poppins";
    white-space: nowrap;
  }
  section.all-items-categories .item-category .see_more {
    display: block;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF6600;
    height: 40px;
    border-radius: 20px;
    width: 90%;
    border-style: none;
    color: white;
  }
  section.all-items-categories .item-category .price {
    color: #FF6600;
  }
  .success-msg {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 135px;
    left: 100%;
    font-size: 0.6em;
    color: #07be6e;
    border: 1.4px solid #07be6e;
    background-color: #e0ffef;
  }
  .success-msg .iconify {
    width: 20px;
    height: 20px;
  }
  .success-msg p {
    white-space: nowrap;
  }
  .success-msg p span {
    font-weight: bold;
  }
  .failed-msg {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 135px;
    left: 100%;
    font-size: 0.6em;
    color: #f9423c;
    border: 1.4px solid #f9423c;
    background-color: #ffebea;
  }
  .failed-msg .iconify {
    width: 20px;
    height: 20px;
  }
  .failed-msg p {
    white-space: nowrap;
  }
  .failed-msg p span {
    font-weight: bold;
  }
}

@media screen and (min-width: 691px) and (max-width: 950px) {
  section.all-items-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2em 1.5em;
    -webkit-box-shadow: 2px 3px 6px 6px #c5c2c2;
            box-shadow: 2px 3px 6px 6px #c5c2c2;
    margin-top: 5.5em;
    padding: 1.7em 0;
  }
  section.all-items-categories .item-category {
    margin: 1em .5em;
    width: 340px;
    height: 380px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 1px 6px 6px #c5c2c2;
            box-shadow: 1px 6px 6px #c5c2c2;
  }
  section.all-items-categories .item-category img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
  section.all-items-categories .item-category .paragraph_1 {
    display: block;
    text-align: center;
    gap: 230px;
  }
  section.all-items-categories .item-category .paragraph_1 h3 {
    color: #1D2A38;
    font-family: "Poppins";
    font-weight: bold;
  }
  section.all-items-categories .item-category .paragraph_1 .prix {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #FF6600;
    color: white;
    border-style: none;
  }
  section.all-items-categories .item-category .paragraph_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.all-items-categories .item-category .paragraph_2 div {
    margin: 0 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2px;
    font-weight: bold;
  }
  section.all-items-categories .item-category .paragraph_2 p {
    color: #A2B6DB;
    font-family: "Poppins";
    white-space: nowrap;
  }
  section.all-items-categories .item-category .see_more {
    display: block;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF6600;
    height: 40px;
    border-radius: 20px;
    width: 90%;
    border-style: none;
    color: white;
  }
  section.all-items-categories .item-category .price {
    color: #FF6600;
  }
  .success-msg {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 135px;
    left: 100%;
    font-size: 0.6em;
    color: #07be6e;
    border: 1.4px solid #07be6e;
    background-color: #e0ffef;
  }
  .success-msg .iconify {
    width: 20px;
    height: 20px;
  }
  .success-msg p {
    white-space: nowrap;
  }
  .success-msg p span {
    font-weight: bold;
  }
  .failed-msg {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 135px;
    left: 100%;
    font-size: 0.6em;
    color: #f9423c;
    border: 1.4px solid #f9423c;
    background-color: #ffebea;
  }
  .failed-msg .iconify {
    width: 20px;
    height: 20px;
  }
  .failed-msg p {
    white-space: nowrap;
  }
  .failed-msg p span {
    font-weight: bold;
  }
}

@media screen and (min-width: 951px) and (max-width: 1920px) {
  section.all-items-categories {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 2em 3em;
    margin-top: 6.5em;
    -webkit-box-shadow: 2px 3px 6px 6px #c5c2c2;
            box-shadow: 2px 3px 6px 6px #c5c2c2;
    padding: 3em 0;
    padding: 1.25em 0;
  }
  section.all-items-categories .item-category {
    margin: 1em 2em;
    width: 340px;
    height: 380px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 1px 6px 6px #c5c2c2;
            box-shadow: 1px 6px 6px #c5c2c2;
  }
  section.all-items-categories .item-category img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
  }
  section.all-items-categories .item-category .paragraph_1 {
    display: block;
    text-align: center;
    gap: 230px;
  }
  section.all-items-categories .item-category .paragraph_1 h3 {
    color: #1D2A38;
    font-family: "Poppins";
    font-weight: bold;
  }
  section.all-items-categories .item-category .paragraph_1 .prix {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #FF6600;
    color: white;
    border-style: none;
  }
  section.all-items-categories .item-category .paragraph_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  section.all-items-categories .item-category .paragraph_2 div {
    margin: 0 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2px;
    font-weight: bold;
  }
  section.all-items-categories .item-category .paragraph_2 p {
    color: #A2B6DB;
    font-family: "Poppins";
    white-space: nowrap;
  }
  section.all-items-categories .item-category .see_more {
    display: block;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
    background-color: #FF6600;
    height: 40px;
    border-radius: 20px;
    width: 90%;
    border-style: none;
    color: white;
  }
  section.all-items-categories .item-category .price {
    color: #FF6600;
  }
  .success-msg {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 100%;
    font-size: 0.9em;
    color: #07be6e;
    border: 1.4px solid #07be6e;
    background-color: #e0ffef;
  }
  .success-msg .iconify {
    width: 20px;
    height: 20px;
  }
  .success-msg p {
    white-space: nowrap;
  }
  .success-msg p span {
    font-weight: bold;
  }
  .failed-msg {
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 100%;
    font-size: 0.6em;
    color: #f9423c;
    border: 1.4px solid #f9423c;
    background-color: #ffebea;
  }
  .failed-msg .iconify {
    width: 20px;
    height: 20px;
  }
  .failed-msg p {
    white-space: nowrap;
  }
  .failed-msg p span {
    font-weight: bold;
  }
}

.disabled-form {
  display: none;
}
/*# sourceMappingURL=categorie.css.map */