$primary-color: #FF6600 ;
$secondary-color: #1D2A38 ;
$font:  'Poppins'; 
div
{
    width: 500px;
    height:700px ;
    background-color:$primary-color ;
    border-radius:0px 400px 400px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;

    
    img
    {
        width: 200px;
        height: 150px;
        margin-left: 100px;
    }
    p
    {
        margin-left: 100px;
        font-family:$font;
        font-weight: bold;
        color: white;
        font-size: 25px;
    }

}




