@media screen and (min-width: 350px) and (max-width: 690px) {
  section.login-part {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 3px 2px 4px #bebebe;
            box-shadow: 2px 3px 2px 4px #bebebe;
    width: 90%;
    height: 600px;
  }
  section.login-part .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form {
    margin-top: 5em;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form form {
    margin-top: 2em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  section.login-part .container .div_form form span {
    text-align: center;
    color: gray;
    font-family: 'roboto', sans-serif;
  }
  section.login-part .container .div_form form button {
    width: 80%;
    height: 40px;
    border-radius: 55px;
    border: none;
    background-color: #FF6600;
    color: white;
    font-weight: bold;
    font-family: "Poppins";
  }
  section.login-part .container .div_form form input {
    padding-left: 1em;
  }
  section.login-part .container .div_form form input[type="text"] {
    width: 100%;
    height: 40px;
    border-radius: 55px;
    border: none;
    background-color: #F2F2F2;
    color: black;
    font-family: "Poppins";
  }
  section.login-part .container .div_form form ::-webkit-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form :-ms-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form ::-ms-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form ::placeholder {
    color: #898989;
  }
  section.login-part .container .div_form .admin_image {
    width: 100px;
    height: 100px;
    background-color: #CBCBCB;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form .admin_image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 691px) and (max-width: 950px) {
  section.login-part {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 3px 2px 4px #bebebe;
            box-shadow: 2px 3px 2px 4px #bebebe;
    width: 90%;
    height: 600px;
  }
  section.login-part .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form {
    margin-top: 5em;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form form {
    margin-top: 2em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  section.login-part .container .div_form form span {
    text-align: center;
    color: gray;
    font-family: 'roboto', sans-serif;
  }
  section.login-part .container .div_form form button {
    width: 70%;
    height: 40px;
    border-radius: 55px;
    border: none;
    background-color: #FF6600;
    color: white;
    font-weight: bold;
    font-family: "Poppins";
  }
  section.login-part .container .div_form form input {
    padding-left: 2em;
  }
  section.login-part .container .div_form form input[type="text"] {
    width: 90%;
    height: 50px;
    border-radius: 55px;
    border: none;
    background-color: #F2F2F2;
    color: black;
    font-family: "Poppins";
  }
  section.login-part .container .div_form form ::-webkit-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form :-ms-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form ::-ms-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form ::placeholder {
    color: #898989;
  }
  section.login-part .container .div_form .admin_image {
    width: 100px;
    height: 100px;
    background-color: #CBCBCB;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form .admin_image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}

@media screen and (min-width: 951px) and (max-width: 1920px) {
  section.login-part {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 2px 3px 2px 4px #bebebe;
            box-shadow: 2px 3px 2px 4px #bebebe;
    width: 90%;
    height: 600px;
  }
  section.login-part .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form {
    margin-top: 5em;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form form {
    margin-top: 2em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  section.login-part .container .div_form form span {
    text-align: center;
    color: gray;
    font-family: 'roboto', sans-serif;
  }
  section.login-part .container .div_form form input {
    padding-left: 2em;
    width: 90%;
    height: 50px;
    border-radius: 55px;
    border: none;
    background-color: #F2F2F2;
    color: black;
    font-family: "Poppins";
  }
  section.login-part .container .div_form form button {
    width: 60%;
    height: 40px;
    border-radius: 55px;
    border: none;
    background-color: #FF6600;
    color: white;
    font-weight: bold;
    font-family: "Poppins";
  }
  section.login-part .container .div_form form ::-webkit-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form :-ms-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form ::-ms-input-placeholder {
    color: #898989;
  }
  section.login-part .container .div_form form ::placeholder {
    color: #898989;
  }
  section.login-part .container .div_form .admin_image {
    width: 100px;
    height: 100px;
    background-color: #CBCBCB;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.login-part .container .div_form .admin_image img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
  }
}
/*# sourceMappingURL=login_css.css.map */