@import "variable" ;
@import "mixins" ;
@import "header" ;
@import "direction" ;
@import "formProduct" ;

// mobile ...
@media screen and(min-width: 350px) and (max-width: 640px){
    section.items {
        margin: .3em 15px;
        .container {
            display: flex;
            flex-wrap: wrap;
            @include content-item(column,row,column,115px,65px, 95%, 60%);
        }
    }
    .success-msg {
        @include style-msg(135px,.6em,90%,#07be6e,#e0ffef);
    }
    .failed-msg {
        @include style-msg(135px,.6em,90%,#f9423c,#ffebea);
    }
    .confirmation-msg {
        
        @include confirm-msg(100px,18%,85%);
    }
}

// medium desktop ...
@media screen and(min-width: 641px) and (max-width: 950px){
    section.items {
        margin: 1em 15px;
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include content-item(column,column,row,100%,130px,230px,30%);
        }
    }
    .success-msg {
        @include style-msg(135px,.6em,50%,#07be6e,#e0ffef);
    }
    .failed-msg {
        @include style-msg(135px,.6em,50%,#f9423c,#ffebea);
    }
    .confirmation-msg {
        @include confirm-msg(150px,18%,65%);
    }
}

// large Desktop
@media screen and(min-width: 951px) and (max-width: 1920px){
    section.items {
        margin: 1em 15px;
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include content-item(column,column,row,100%,130px,230px,30%);
        }
    }
    .success-msg {
        @include style-msg(100px,.9em,45%,#07be6e,#e0ffef);
    }
    .failed-msg {
        @include style-msg(100px,.6em,45%,#f9423c,#ffebea);
    }
    .confirmation-msg {
        @include confirm-msg(190px,25%,50%);
    }
}


.disabled-form {
    display: none;
}
